PORT=4000
PGHOST=localhost
PGPORT=5432
PGDATABASE=company_db
PGUSER=postgres
PGPASSWORD=postgres
JWT_SECRET=supersecretdevkey
JWT_EXPIRES=90d
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=your_client_email@your_project_id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
